# Node modules
node_modules/

# Build output
build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE or editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
*.cache
